@charset "UTF-8";
body {background-image: url(imagens/Captura\ de\ Tela\ \(2018\).png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;}
section {
    padding: auto;
    margin: 20px;
    background-image: radial-gradient(circle, hsla(179, 38%, 42%, 0.700), #418d8c);
    /*background-image: url(imagens/Captura\ de\ Tela\ \(2018\).png);*/
    background-attachment: fixed;
}
img {margin: auto;}
#one {float: left;}
#two {float: right;}
.barra {border: 0px;}
nav {text-align: right; margin: 0px;}