@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
@font-face {
    font-family:'ArgentumNovusLight';
    font-family:'ArgentumNovusExtraLight';
    font-family:'ArgentumNovusThin';
    font-family:'ArgentumNovusThinItalic';
    font-family:'ArgentumNovusExtraLightItalic';
    /*font-family:'ArgentumNovusLightItalic';
    font-family:'ArgentumNovusMedium';
    font-family:'ArgentumNovusMediumItalic';
    font-family:'ArgentumNovusRegular';
    font-family:'ArgentumNovusSemiBold';
    font-family:'ArgentumNovusSemiBoldItalic';
    font-family:'ArgentumNovusBlack';
    font-family:'ArgentumNovusBlackItalic';
    font-family:'ArgentumNovusBold';
    font-family:'ArgentumNovusBoldItalic';
    font-family:'ArgentumNovusExtraBold';
    font-family:'ArgentumNovusExtraBoldItalic';
    font-family:'ArgentumNovusItalic';*/
    src:url('font/ArgentumNovus-Light.ttf') format('truetype'),
        url('font/ArgentumNovus-ExtraLight.ttf') format('truetype'),
        url('font/ArgentumNovus-Thin.ttf') format('truetype'),
        url('font/ArgentumNovus-ThinItalic.ttf') format('truetype'),
        url('font/ArgentumNovus-ExtraLightItalic.ttf') format('truetype');
        /*url('font/ArgentumNovus-LightItalic.ttf') format('truetype'),
        url('font/ArgentumNovus-Medium.ttf') format('truetype'),
        url('font/ArgentumNovus-MediumItalic.ttf') format('truetype'),
        url('font/ArgentumNovus-Regular.ttf') format('truetype'),
        url('font/ArgentumNovus-SemiBold.ttf') format('truetype'),
        url('font/ArgentumNovus-SemiBoldItalic.ttf') format('truetype'),
        url('font/ArgentumNovus-Black.ttf') format('truetype'),
        url('font/ArgentumNovus-BlackItalic.ttf') format('truetype'),
        url('font/ArgentumNovus-Bold.ttf') format('truetype'),
        url('font/ArgentumNovus-BoldItalic.ttf') format('truetype'),
        url('font/ArgentumNovus-ExtraBold.ttf') format('truetype'),
        url('font/ArgentumNovus-ExtraBoldItalic.ttf') format('truetype'),
        url('font/ArgentumNovus-Italic.ttf') format('truetype');*/}
body {font:
    normal 300 1.5em 
    'ArgentumNovusLight',
    'ArgentumNovusExtraLight',
    'ArgentumNovusThin',
    'ArgentumNovusThinItalic',
    'ArgentumNovusExtraLightItalic', 
    Arial, Helvetica, sans-serif;
    /*'ArgentumNovusLightItalic',
    'ArgentumNovusMedium',
    'ArgentumNovusMediumItalic',
    'ArgentumNovusRegular',
    'ArgentumNovusSemiBold',
    'ArgentumNovusSemiBoldItalic',
    'ArgentumNovusBlack',
    'ArgentumNovusBlackItalic',
    'ArgentumNovusBold',
    'ArgentumNovusBoldItalic',
    'ArgentumNovusExtraBold',
    'ArgentumNovusExtraBoldItalic',
    'ArgentumNovusItalic',*/
    color: white;}
h1 {
    text-align: center; 
    margin: 0px; 
    font: italic 400 1.5em 'Berkshire Swash', cursive, Arial, Helvetica, sans-serif;}
h2 {
    display: flex; 
    align-items: center; 
    justify-content: center;}
h3 {
    text-align: center; 
    font-weight: lighter; 
    font-size: 0.7em;}
p {
    padding: 10px; 
    font-size: 0.8em;}
button {
    background-image: url(imagens/icones/3.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #00a09d;
    border-radius: 100%;
    padding: 10px;
    box-shadow: 2px 2px 5px hsla(178, 100%, 7%, 0.7);}
.preco {
    float: right;}
.sub {
    font-size: 0.7em; 
    font-style: italic;}
.subtexto {
    font-style: italic;
    font-weight: lighter; 
    font-size: 0.6em;
    margin-left: 40px;}
#driver {
    float: right;
    text-align: justify; 
    background-color: rgb(255, 255, 255); 
    color: #418d8c; 
    border-radius: 15px; 
    border-color: #418d8c; 
    border-width: 3px; 
    border-style: solid;
    outline: auto;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 2px;}
#imgfooter {
    margin-left: 20px;
    margin-top: 10px;
    max-width:118px;
    max-height:80px;}
.end {
    font: normal 100 0.6em Arial, Helvetica, sans-serif;
    color: white;
    text-decoration: none;
    margin-left: 11px;}
.end:hover {
    text-decoration: underline; 
    color: lightblue;}