@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
@font-face {
    font-family:'ArgentumNovusLight';
    font-family:'ArgentumNovusExtraLight';
    font-family:'ArgentumNovusThin';
    font-family:'ArgentumNovusThinItalic';
    font-family:'ArgentumNovusExtraLightItalic';
    /*font-family:'ArgentumNovusLightItalic';
    font-family:'ArgentumNovusMedium';
    font-family:'ArgentumNovusMediumItalic';
    font-family:'ArgentumNovusRegular';
    font-family:'ArgentumNovusSemiBold';
    font-family:'ArgentumNovusSemiBoldItalic';
    font-family:'ArgentumNovusBlack';
    font-family:'ArgentumNovusBlackItalic';
    font-family:'ArgentumNovusBold';
    font-family:'ArgentumNovusBoldItalic';
    font-family:'ArgentumNovusExtraBold';
    font-family:'ArgentumNovusExtraBoldItalic';
    font-family:'ArgentumNovusItalic';*/
    src:url('font/ArgentumNovus-Light.ttf') format('truetype'),
        url('font/ArgentumNovus-ExtraLight.ttf') format('truetype'),
        url('font/ArgentumNovus-Thin.ttf') format('truetype'),
        url('font/ArgentumNovus-ThinItalic.ttf') format('truetype'),
        url('font/ArgentumNovus-ExtraLightItalic.ttf') format('truetype');
        /*url('font/ArgentumNovus-LightItalic.ttf') format('truetype'),
        url('font/ArgentumNovus-Medium.ttf') format('truetype'),
        url('font/ArgentumNovus-MediumItalic.ttf') format('truetype'),
        url('font/ArgentumNovus-Regular.ttf') format('truetype'),
        url('font/ArgentumNovus-SemiBold.ttf') format('truetype'),
        url('font/ArgentumNovus-SemiBoldItalic.ttf') format('truetype'),
        url('font/ArgentumNovus-Black.ttf') format('truetype'),
        url('font/ArgentumNovus-BlackItalic.ttf') format('truetype'),
        url('font/ArgentumNovus-Bold.ttf') format('truetype'),
        url('font/ArgentumNovus-BoldItalic.ttf') format('truetype'),
        url('font/ArgentumNovus-ExtraBold.ttf') format('truetype'),
        url('font/ArgentumNovus-ExtraBoldItalic.ttf') format('truetype'),
        url('font/ArgentumNovus-Italic.ttf') format('truetype');*/}
body {font:
    normal 300 1.5em 
    'ArgentumNovusLight',
    'ArgentumNovusExtraLight',
    'ArgentumNovusThin',
    'ArgentumNovusThinItalic',
    'ArgentumNovusExtraLightItalic', 
    Arial, Helvetica, sans-serif;
    /*'ArgentumNovusLightItalic',
    'ArgentumNovusMedium',
    'ArgentumNovusMediumItalic',
    'ArgentumNovusRegular',
    'ArgentumNovusSemiBold',
    'ArgentumNovusSemiBoldItalic',
    'ArgentumNovusBlack',
    'ArgentumNovusBlackItalic',
    'ArgentumNovusBold',
    'ArgentumNovusBoldItalic',
    'ArgentumNovusExtraBold',
    'ArgentumNovusExtraBoldItalic',
    'ArgentumNovusItalic',*/
    color: rgb(105, 69, 25);}
h1 {
    text-align: center; 
    margin: 0px; 
    font: italic 400 1.5em 'Berkshire Swash', cursive, Arial, Helvetica, sans-serif;}
h2 {
    display: flex; 
    align-items: center; 
    justify-content: center;}
h3 {
    text-align: center; 
    font-weight: lighter; 
    font-size: 0.7em;}
p {
    padding: 10px; 
    font-size: 0.8em;}
hr{border: 1px dashed rgb(105, 69, 25);}
button {
    background-image: url(imagens/icones/3.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-color: rgb(255, 177, 61);
    border-radius: 100%;
    padding: 10px;
    box-shadow: 2px 2px 5px rgb(105, 69, 25);}
.inforfrios {
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 5px;
        padding: 15px;
        border-radius: 11px;
        background-image: radial-gradient(circle, rgba(109, 70, 22, 0.767), rgb(90, 54, 10));
        color: rgb(255, 228, 187);
        font: italic normal 12px 'ArgentumNovusLight', 'ArgentumNovusExtraLight', 'ArgentumNovusThin', 'ArgentumNovusThinItalic', 'ArgentumNovusExtraLightItalic';}
/**/.inforfrios::after {content: '(Carpaccio de carne, Molho de mostarda, Queijo parmesão, Alcaparras, Rúcula e uma Porção de pães.)'}
.inforbrie {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    padding: 15px;
    border-radius: 11px;
    background-image: radial-gradient(circle, rgba(109, 70, 22, 0.767), rgb(90, 54, 10));
        color: rgb(255, 228, 187);
    font: italic normal 12px 'ArgentumNovusLight', 'ArgentumNovusExtraLight', 'ArgentumNovusThin', 'ArgentumNovusThinItalic', 'ArgentumNovusExtraLightItalic';}
.inforbrie::after {content: '(Queijo brie no pão artesanal (pão de fabricação própria), coberto por Geleia de morango.)'}
.inforburrata {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    padding: 15px;
    border-radius: 11px;
    background-image: radial-gradient(circle, rgba(109, 70, 22, 0.767), rgb(90, 54, 10));
        color: rgb(255, 228, 187);
    font: italic normal 12px 'ArgentumNovusLight', 'ArgentumNovusExtraLight', 'ArgentumNovusThin', 'ArgentumNovusThinItalic', 'ArgentumNovusExtraLightItalic';}
.inforburrata::after {content: '(Burrata acompanhada de Tomate cereja confitado no azeite com especiarias e Fatias de pães.)'}
.inforpetit {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    padding: 15px;
    border-radius: 11px;
    background-image: radial-gradient(circle, rgba(109, 70, 22, 0.767), rgb(90, 54, 10));
        color: rgb(255, 228, 187);
    font: italic normal 12px 'ArgentumNovusLight', 'ArgentumNovusExtraLight', 'ArgentumNovusThin', 'ArgentumNovusThinItalic', 'ArgentumNovusExtraLightItalic';}
.inforpetit::after {content: 'Petit Gateau de chocolate, acompanhado de Sorvete sabor Pistache Stonia®.'}
.inforcaprese {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    padding: 15px;
    border-radius: 11px;
    background-image: radial-gradient(circle, rgba(109, 70, 22, 0.767), rgb(90, 54, 10));
        color: rgb(255, 228, 187);
    font: italic normal 12px 'ArgentumNovusLight', 'ArgentumNovusExtraLight', 'ArgentumNovusThin', 'ArgentumNovusThinItalic', 'ArgentumNovusExtraLightItalic';}
.inforcaprese::after {content: '(Molho de tomates frescos, Muçarela de búfala, Rodelas de tomate, Pesto de azeitonas pretas e Folhas de manjericão.)'}
.inforromana {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    padding: 15px;
    border-radius: 11px;
    background-image: radial-gradient(circle, rgba(109, 70, 22, 0.767), rgb(90, 54, 10));
        color: rgb(255, 228, 187);
    font: italic normal 12px 'ArgentumNovusLight', 'ArgentumNovusExtraLight', 'ArgentumNovusThin', 'ArgentumNovusThinItalic', 'ArgentumNovusExtraLightItalic';}
.inforromana::after {content: '((Molho de tomates frescos, Muçarela, Presunto de parma e Queijo brie.)'}
.inforroyale {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    padding: 15px;
    border-radius: 11px;
    background-image: radial-gradient(circle, rgba(109, 70, 22, 0.767), rgb(90, 54, 10));
        color: rgb(255, 228, 187);
    font: italic normal 12px 'ArgentumNovusLight', 'ArgentumNovusExtraLight', 'ArgentumNovusThin', 'ArgentumNovusThinItalic', 'ArgentumNovusExtraLightItalic';}
.inforroyale::after {content: '(Molho de tomates frescos, Muçarela, Provolone trufado, Linguiça de lombo desconstruída, Brócolis e Alho frito.)'}
.inforcapri {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    padding: 15px;
    border-radius: 11px;
    background-image: radial-gradient(circle, rgba(109, 70, 22, 0.767), rgb(90, 54, 10));
        color: rgb(255, 228, 187);
    font: italic normal 12px 'ArgentumNovusLight', 'ArgentumNovusExtraLight', 'ArgentumNovusThin', 'ArgentumNovusThinItalic', 'ArgentumNovusExtraLightItalic';}
.inforcapri::after {content: '(Molho de tomates frescos, Muçarela, Carne de sol desfiada, Queijo coalho  e Catupiry original.)'}
.infortoscana {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    padding: 15px;
    border-radius: 11px;
    background-image: radial-gradient(circle, rgba(109, 70, 22, 0.767), rgb(90, 54, 10));
        color: rgb(255, 228, 187);
    font: italic normal 12px 'ArgentumNovusLight', 'ArgentumNovusExtraLight', 'ArgentumNovusThin', 'ArgentumNovusThinItalic', 'ArgentumNovusExtraLightItalic';}
.infortoscana::after {content: '(Molho de tomates frescos, Muçarela, Calabresa defumada e Cebola roxa.)'}
.inforcartola {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    padding: 15px;
    border-radius: 11px;
    background-image: radial-gradient(circle, rgba(109, 70, 22, 0.767), rgb(90, 54, 10));
        color: rgb(255, 228, 187);
    font: italic normal 12px 'ArgentumNovusLight', 'ArgentumNovusExtraLight', 'ArgentumNovusThin', 'ArgentumNovusThinItalic', 'ArgentumNovusExtraLightItalic';}
.inforcartola::after {content: '(Banana caramelada, Queijo muçarela, Finalizada com canela  e açúcar.)'}
.inforveneza {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    padding: 15px;
    border-radius: 11px;
    background-image: radial-gradient(circle, rgba(109, 70, 22, 0.767), rgb(90, 54, 10));
        color: rgb(255, 228, 187);
    font: italic normal 12px 'ArgentumNovusLight', 'ArgentumNovusExtraLight', 'ArgentumNovusThin', 'ArgentumNovusThinItalic', 'ArgentumNovusExtraLightItalic';}
.inforveneza::after {content: '(Uva verde, Queijo muçarela, Ganache  e Chocolate.)'}
.inforcaipirosca {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    padding: 15px;
    border-radius: 11px;
    background-image: radial-gradient(circle, rgba(109, 70, 22, 0.767), rgb(90, 54, 10));
        color: rgb(255, 228, 187);
    font: italic normal 12px 'ArgentumNovusLight', 'ArgentumNovusExtraLight', 'ArgentumNovusThin', 'ArgentumNovusThinItalic', 'ArgentumNovusExtraLightItalic';}
.inforcaipirosca::after {content: 'Sabores: Abacaxi, Morango, ou dois Limões taiti e siciliano. (Vodka, fruta e açucar.)'}
.informoscowmule {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    padding: 15px;
    border-radius: 11px;
    background-image: radial-gradient(circle, rgba(109, 70, 22, 0.767), rgb(90, 54, 10));
        color: rgb(255, 228, 187);
    font: italic normal 12px 'ArgentumNovusLight', 'ArgentumNovusExtraLight', 'ArgentumNovusThin', 'ArgentumNovusThinItalic', 'ArgentumNovusExtraLightItalic';}
.informoscowmule::after {content: '(Vodka, Suco de limão, Água com gás, Espuma de gengibre.)'}
.inforaperol {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    padding: 15px;
    border-radius: 11px;
    background-image: radial-gradient(circle, rgba(109, 70, 22, 0.767), rgb(90, 54, 10));
        color: rgb(255, 228, 187);
    font: italic normal 12px 'ArgentumNovusLight', 'ArgentumNovusExtraLight', 'ArgentumNovusThin', 'ArgentumNovusThinItalic', 'ArgentumNovusExtraLightItalic';}
.inforaperol::after {content: '(Espumante, Aperol, Água com gás e Rodela de laranja.)'}
.inforgin {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    padding: 15px;
    border-radius: 11px;
    background-image: radial-gradient(circle, rgba(109, 70, 22, 0.767), rgb(90, 54, 10));
        color: rgb(255, 228, 187);
    font: italic normal 12px 'ArgentumNovusLight', 'ArgentumNovusExtraLight', 'ArgentumNovusThin', 'ArgentumNovusThinItalic', 'ArgentumNovusExtraLightItalic';}
.inforgin::after {content: '(Gin, Tônica, Limoncello artesanal, Feito a mão em Santa Catarina.)'}
.inforclericot {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    padding: 15px;
    border-radius: 11px;
    background-image: radial-gradient(circle, rgba(109, 70, 22, 0.767), rgb(90, 54, 10));
        color: rgb(255, 228, 187);
    font: italic normal 12px 'ArgentumNovusLight', 'ArgentumNovusExtraLight', 'ArgentumNovusThin', 'ArgentumNovusThinItalic', 'ArgentumNovusExtraLightItalic';}
.inforclericot::after {content: 'Jarra (Espumante e Frutas).'}
.preco {
    float: right;}
.sub {
    font-size: 0.7em; 
    font-style: italic;}
.subtexto {
    font-style: italic;
    font-weight: lighter; 
    font-size: 0.7em;
    margin-left: 40px;}
#driver {
    float: right;
    text-align: justify; 
    background-color: rgb(255, 255, 255); 
    color: #418d8c; 
    border-radius: 15px; 
    border-color: #418d8c; 
    border-width: 3px; 
    border-style: solid;
    outline: auto;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 2px;}
#imgfooter {
    margin-left: 20px;
    margin-top: 10px;
    max-width:118px;
    max-height:80px;}
.end {
    font: normal 100 0.6em Arial, Helvetica, sans-serif;
    color: white;
    text-decoration: none;
    margin-left: 10px;}
.end:hover {
    font-weight: bold;
    text-decoration: underline; 
    color: lightblue;}